*.suo
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
perf/*
build/output/lib
build/output/*.nu*
build/output/*.json*
build/output/*.tgz*
build/output/.npmignore
.idea